body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}
h1{
    font-size: 50px;
}
.Orange{
    color: orange;
}
section{
    display: flex;
}
.half-width{
    width: 50%;
    padding-left: 2% ;
}
.half-width img{
    width: 80%;
    padding: 2% 2% 2% 8%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, rgb(230, 13, 13));
    font-weight: 700;
    color: white;
    padding: 10px 40px;
    border-radius: 5px;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

